body {
    background: #DDF1DC;
    color: #000000;
    font-size: 36;
    font-family: "Source Han Sans TC Regular", sans;
}

span.SearchWord1 {
    font-size: 36;
    color: #0000ff;
    background: #ffff66;
}

span.SearchWord2 {
    font-size: 36;
    color: #0000ff;
    background: #a0ffff;
}

span.SearchWord3 {
    font-size: 36;
    color: #0000ff;
    background: #99ff99;
}

span.SearchWord4 {
    font-size: 36;
    color: #0000ff;
    background: #ff9999;
}

span.SearchWord5 {
    font-size: 36;
    color: #0000ff;
    background: #ff66ff;
}

a.hover {
    color: #0000ff;
}

a:visited {
    color: #0000ff;
}

a:link {
    font-size: 16;
    color: #cccccc;
}

a:active {
    color: #0000ff;
}

span.juannum {
    color: #008000;
    font-size: 36;
}

span.juanname {
    display: block;
    text-align: center;
    color: #0000FF;
    font-size: 48;
    font-family: "Source Han Sans TC Regular", sans-serif
}

span.xu {
    color: #0000A0;
    font-size: 36;
}

span.w {
    color: #800080;
    font-size: 36;
}

span.byline {
    color: #408080;
    font-size: 36;
}

span.headname {
    display: block;
    text-align: center;
    color: #0000A0;
    font-size: 36;
    font-family: "Source Han Sans TC Regular", sans-serif
}

span.linehead {
    color: #0000A0;
    font-size: 36;
}

span.lg {
    display: block;
    text-align: center;
    color: #0080ff;
    font-size: 48 !important;
    font-family: "Source Han Sans TC Regular", sans-serif;
}

span.corr {
    color: #FF0000;
}

span.gaiji {
    font-size: 36;
}

span.note {
    color: #800080;
    font-size: 16;
}

.note_orig {
    color: #ee0000 !important;
    vertical-align: super !important;
    font-size: 0.4em !important;
}

.note_mod {
    color: #ee0000 !important;
    vertical-align: super !important;
    font-size: 0.6em !important;
}

.note_star {
    color: #ee0000 !important;
    vertical-align: super !important;
    font-size: 0.6em !important;
}
.note_add {
    color: #ee0000 !important;
    vertical-align: super !important;
    font-size: 0.6em !important;
}
p {
    font-family: "Source Han Serif TC Medium", serif;
    font-size: 36 !important;
    text-indent: 2em !important;
}
